html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

th {
    background-color: #D6EEEE;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.textCenter {
    text-align: center;
}