.container-partner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    gap: 10px;
    /* background-color: lightblue; */
}

.item-partner{
    background-color: white;
    font-size: 20px;
    padding: 30px;
    font-size: 20px;
    width: 25%;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    text-align: center;
}

.container-avatar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 200px; */
    padding: 20px;
    gap: 10px;
    /* background-color: lightblue; */
}

.item-avatar{
    color: black;
    padding: 30px;
    font-size: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    width: 20%;
}